.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .content {
    flex: 1;
    margin-left: 300px;
    padding-inline: 30px;
    padding-block: 20px;
    transition: margin-left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    min-height: 100vh;

    &.expanded {
      margin-left: 120px;
    }
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      margin-left: 0 !important;
      padding: 20px;
      padding-top: 80px; /* Space for MobileNavbar */
    }
  }
}
